body {
    margin: 0;
}

header {
    background-image: url(../../img/background_heart.jpg);
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100px;
    border-bottom: ridge 10px rgb(245, 86, 113);
}

a#link-home {
    color: rgb(214, 83, 144);
    font-family: cursive;
    letter-spacing: 2px;
    text-decoration: dashed underline 3px rgb(214, 83, 144);
}

/* Deixa visível os title ao passar o cursor */
.cursor:hover {
    cursor: url(../../img/cursor_heart.png), auto;
}

.cursor-pointer:hover {
    cursor: pointer;
}